@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    /* colors */
    --color-lightBlue: #31c3bd;
    --color-lightBlue--hover: #65e9e4;
    --color-lightBlue--innerShadow: #118c87;
    --color-lightYellow: #f2b137;
    --color-lightYellow--hover: #ffc860;
    --color-lightYellow--innerShadow: #cc8b13;
    --color-darkNavy: #1a2a33;
    --color-semiDarkNavy: #1f3641;
    --color-silver: #a8bfc9;
    --color-silver--hover: #dbe8ed;
    --color-shadow: #10212a;

    /* fonts */
    --fontFamily: 'Outfit', sans-serif;
    --font-headingL: 700 40px var(--fontFamily);
    --font-headingM: 700 24px var(--fontFamily);
    --font-headingS: 700 20px var(--fontFamily);
    --font-headingXS: 700 16px var(--fontFamily);
    --font-bodyM: 500 14px var(--fontFamily);

    --appMinWidth: 327px;
    --appMaxWidth: 460px;
}

img {
    border-style: none;
}

input,
button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    text-transform: none;
    border: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: var(--color-darkNavy);
    text-transform: uppercase;
}

html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
    text-transform: uppercase;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body,
p {
    font: var(--font-bodyM);
    letter-spacing: 0.8px;
}

.bg--X {
    background-color: var(--color-lightBlue);
}

.bg--O {
    background-color: var(--color-lightYellow);
}

.Game__logo {
    width: 72px;
    height: 32px;
}

.AppContainer {
    height: 100vh;
    min-width: 327px;
    background-color: var(--color-darkNavy);
    position: relative;
}

.AppContainer__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NewGame__container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 40px;

    .NewGame__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.PlayerMarkContainer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    padding: 24px;

    background-color: var(--color-semiDarkNavy);
    color: var(--color-silver);
    box-shadow: inset 0 -8px 0 0 var(--color-shadow);

    .PlayerMarkContainer__header {
        .PlayerMarkContainer__title {
            font: var(--font-headingXS);
            letter-spacing: 1px;
            color: var(--color-silver);
        }
    }

    .PlayerMarkContainer__content {
        display: grid;
        gap: 17px;
        justify-items: center;

        .PlayerMarkContainer__description {
            letter-spacing: 0.88px;
            color: var(--color-silver);
        }
    }
}

.PlayerMarkContainer__markContainer {
    border-radius: 10px;
    background-color: var(--color-darkNavy);
    padding: 9px 8px;

    .PlayerMarkContainer__markList {
        display: grid;
        grid-template-columns: repeat(2, auto);

        .MarkItem {
            width: 132px;
            height: 54px;

            .MarkBtn {
                border: none;
                border-radius: 10px;
                background-color: transparent;
                width: 100%;
                height: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                .MarkBtn__iconWrapper {
                    width: 32px;
                    height: 32px;

                    svg {
                        width: inherit;
                        height: inherit;
                        fill: var(--color-silver);
                        stroke: transparent;
                    }
                }

                &.MarkBtn--selected {
                    background-color: var(--color-silver);

                    .MarkBtn__iconWrapper svg {
                        fill: var(--color-darkNavy);
                    }
                }
            }
        }
    }
}

.OpponentContainer {
    .OpponentContainer__opponentList {
        display: grid;
        gap: 16px;
        grid-template-rows: repeat(2, auto);

        .OpponentBtn {
            border: none;
            border-radius: 15px;
            width: 100%;
            padding: 14px 5px 22px;
            font: var(--font-headingXS);
            letter-spacing: 1px;

            &.bg--O {
                box-shadow: inset 0 -8px 0 0
                    var(--color-lightYellow--innerShadow);
            }

            &.bg--X {
                box-shadow: inset 0 -8px 0 0 var(--color-lightBlue--innerShadow);
            }
        }
    }
}
